:root {
  --red-hue: 0;
  --blue-hue: 185;
  --green-hue: 100;
  --main-hue : var(--blue-hue);

  --contrast-color: hsl(0, 0%, 40%);
  --contrast-lightColor: hsl(0, 0%, 90%);
  --contrast-darkColor:  hsl(0, 0%, 28%);
  --theme-vdarkColor: hsl(var(--main-hue), 100%, 5%);
  --theme-color: hsl(var(--main-hue), 100%, 30%);
  --theme-darkColor: hsl(var(--main-hue), 100%, 20%);
  --theme-medColor: hsl(var(--main-hue), 100%, 37%);
}

* {
  margin: 0;
  padding: 0;
  border: box-border;
}

html {
  background-color: black;
  background-image: linear-gradient(var(--contrast-color), black);
  background-attachment: fixed;
  height: 100%;  
  font-size: 16px;   /* base font size */
}

body {
  font-family: 'Arial';
  height: 100%;
}

#container{
  min-height: 100%;
  padding-bottom: 30px;
}

/* side line 1*/
#container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  height: 85%;
  width: 0.27em;
  background-image: linear-gradient(black 40%, var(--theme-color));
  transform-origin: top;
  transform: perspective(8px) rotateY(2deg);
}

#content {
  text-align: center;
}

/* side line 2 */
#content:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 25px;
  height: 80%;
  width: 0.27em;
  background-image: linear-gradient(black 30%, var(--theme-color));
  transform-origin: top;
  transform: perspective(8px) rotateY(2deg);
}

.button {
  padding: 5px;
  margin: 15px 15px 5px;
  min-width: 100px;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 2px 2px 8px var(--contrast-darkColor);
}

.button:hover{
  color: white;
  background-color: var(--theme-color);
  box-shadow: 2px 2px 8px dimgray;
}  

@media screen and (max-width: 767px) {
  html {
    /* reduce base font size to reduce all rem sizes */
    font-size: 12px;
  }
  
  .button {
    padding: 5px;
    margin: 10px 10px 5px;
    min-width: 80px;
    font-size: 0.9em
  }
}