:root {
  --gray: #585858;
  --lightGray: #e6e6e6;
  --darkGray: #484848;
  --maroon: #190000;
  --red: #990000;
  --darkRed: #660000;
  --medRed: #bb0000;
}

* {
  margin: 0;
  padding: 0;
  border: box-border;
}

html {
  background-color: black;
  background-image: linear-gradient(var(--gray), black);
  background-attachment: fixed;
  height: 100%;  
}

body {
  font-family: 'Arial';
  height: 100%;
}

#container{
  min-height: 100%;
  padding-bottom: 30px;
  /*position: relative;*/
}

/* side line 1*/
#container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  height: 85%;
  width: 0.27em;
  background-image: linear-gradient(black 40%, var(--red));
  transform-origin: top;
  transform: perspective(8px) rotateY(2deg);
}

#content {
  text-align: center;
}

/* side line 2 */
#content:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 25px;
  height: 80%;
  width: 0.27em;
  background-image: linear-gradient(black 30%, var(--red));
  transform-origin: top;
  transform: perspective(8px) rotateY(2deg);
}

.button {
  padding: 5px;
  margin: 15px 15px 5px;
  min-width: 100px;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 2px 2px 8px var(--darkGray);
}

.button:hover{
  color: white;
  background-color: var(--red);
  box-shadow: 2px 2px 8px dimgray;
}  