<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta name="description" content="Anonymous Message Board">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>

  <body>
    <div id="container">
      <header>
        <div id="header">
          <h1>Anonymous Message Board</h1>      
        </div>
      </header>
      <section id="content">
        <table>Boards</table>
      </section>

      <footer>
        <div id="footer">
          <h3>Designed by Atiya Haider</h3>      
        </div>
      </footer>
    </div>
  
    <div>
      <h2><a href='/b/general/'>Go to testing <i>'/b/general/'</i> board</a></h2>
    </div>
    <hr style='margin: 50px'>
  
  
    <div id='testui' style='margin-left: 5%'>
      <h2 style="text-align: left">API Tests:</h2>
        <h4>New thread (POST /api/threads/:board)</h4>
        <form id="newThread">
          <input type="text" placeholder="board" id="board1" name="board" required><br>
          <input type="text" placeholder="Thread title..." name="title" required><br>
          <textarea type="text" placeholder="Thread text..." name="text" required></textarea><br>
          <input type="text" placeholder="password to delete" name="delete_password" required><br>
          <input type="submit" value="Submit">
        </form>
        <hr>
        <h4>Report thread (PUT /api/threads/:board)</h4>
        <form id="reportThread">
          <input type="text" placeholder="board" id="board2" name="board" required><br>
          <input type="text" placeholder="id to report" name="thread_id" required><br>
          <input type="submit" value="Submit">
        </form>
        <hr>
        <h4>Delete thread (DELETE /api/threads/:board)</h4>
        <form id="deleteThread">
          <input type="text" placeholder="board" id="board3" name="board" required><br>
          <input type="text" placeholder="id to delete" name="thread_id" required><br>
          <input type="text" placeholder="password" name="delete_password" required><br>
          <input type="submit" value="Submit">
        </form>
        <hr>
        
        
        <h4>New reply (POST /api/replies/:board)</h4>
        <form id="newReply">
          <input type="text" placeholder="board" id="board4" name="board" required><br>
          <input type="text" placeholder="thread id" name="thread_id" required><br>
          <textarea type="text" placeholder="Reply text..." name="text" required></textarea><br>
          <input type="text" placeholder="password to delete" name="delete_password" required><br>
          <input type="submit" value="Submit">
        </form>
        <hr>
        <h4>Report reply (PUT /api/replies/:board)</h4>
        <form id="reportReply">
          <input type="text" placeholder="board" id="board5" name="board" required><br>
          <input type="text" placeholder="thread id" name="thread_id" required><br>
          <input type="text" placeholder="reply id" name="reply_id" required><br>
          <input type="submit" value="Submit">
        </form>
        <hr>
        <h4>Delete reply (DELETE /api/replies/:board)</h4>
        <form id="deleteReply">
          <input type="text" placeholder="board" id="board6" name="board" required><br>
          <input type="text" placeholder="thread id" name="thread_id" required><br>
          <input type="text" placeholder="id to delete" name="reply_id" required><br>
          <input type="text" placeholder="password" name="delete_password" required><br>
          <input type="submit" value="Submit">
        </form>        
    </div>
    <hr style='margin: 50px; margin-top: 200px'>
 
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#newThread').submit(function(e){
          e.preventDefault();
          
          //trim all fields
          $('#newThread :input').each(function(){
             $(this).val($.trim($(this).val()))
          });
          $('#newThread textarea').each(function(){
             $(this).val($.trim($(this).val()))
          });

          $.ajax({
            type: "POST",
            url: "/api/threads/" + $('#board1').val(),
            data: $(this).serialize()
          })
            .done (function(data) {
              alert('Success - Thread Added ' + JSON.stringify(data, null, 1));
            })
            .fail (function(xhr) { 
              alert('Error ' + xhr.responseJSON.error);
            })
        });
        
        $('#reportThread').submit(function(e){
          e.preventDefault();

          $.ajax({
            type: "PUT",
            url: "/api/threads/" + $('#board2').val(),
            data: $(this).serialize()
          })
            .done (function(data) {
              alert('Success ' + JSON.stringify(data, null, 1));
            })
            .fail (function(xhr) { 
              alert('Error ' + xhr.responseJSON.error);
            })
        });

        $('#deleteThread').submit(function(e){
          e.preventDefault();

          $.ajax({
            type: "DELETE",
            url: "/api/threads/" + $('#board3').val(),
            data: $(this).serialize(),
          })
            .done (function(data) {
              alert('Success ' + JSON.stringify(data, null, 1));
            })
            .fail (function(xhr) { 
              alert('Error ' + xhr.responseJSON.error);
            })
        });

        $('#newReply').submit(function(e){
          e.preventDefault();
          
          //trim all fields
          $('#newReply :input').each(function(){
             $(this).val($.trim($(this).val()))
          });
          $('#newReply textarea').each(function(){
             $(this).val($.trim($(this).val()))
          });

          $.ajax({
            type: "POST",
            url: "/api/replies/" + $('#board4').val(),
            data: $(this).serialize()
          })
            .done (function(data) {
              alert('Success - Reply Added ' + JSON.stringify(data, null, 1));
            })
            .fail (function(xhr) { 
              alert('Error ' + xhr.responseJSON.error);
            })
       });
        
        
        $('#reportReply').submit(function(e){
          e.preventDefault();

          $.ajax({
            type: "PUT",
            url: "/api/replies/" + $('#board5').val(),
            data: $(this).serialize()
          })
            .done (function(data) {
              alert('Success ' + JSON.stringify(data, null, 1));
            })
            .fail (function(xhr) { 
              alert('Error ' + xhr.responseJSON.error);
            })
        });

        $('#deleteReply').submit(function(e){
          e.preventDefault();

          $.ajax({
            type: "DELETE",
            url: "/api/replies/" + $('#board6').val(),
            data: $(this).serialize()
          })
            .done (function(data) {
              alert('Success ' + JSON.stringify(data, null, 1));
            })
            .fail (function(xhr) { 
              alert('Error ' + xhr.responseJSON.error);
            })
        });
      });
   </script>
  </body>
</html>
