#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  background-image: linear-gradient(var(--contrast-darkColor), var(--theme-vdarkColor));
  transform: skewY(1.25deg);
  transform-origin: bottom left;
}

.footerContent {
  padding-top: 5px;
  padding-left: 7px;
  font-size: 0.9em;
  text-align: left;
  transform: skewY(-1.25deg);
  color: white;
}

a {
  color: white;
  decoration: none;
}

@media screen and (max-width: 767px) {
  #footer {
    height: 35px;
  }
  .footerContent {
    padding-top: 8px;
  }
}