#inputForm {
  margin: auto;
  margin-top: 5px;
  background: white;
  width: 50%;
  padding: 20px;
}

.subHeading {
  text-align: left;
  margin-bottom: 15px;
}

#apiLink {
  float: right;
  font-size: 0.55rem;
  font-weight: normal;
}

.fixed-field {
  display: grid;
  grid-template-rows: 23px auto;
  margin-bottom: 3px;
}

.fixedInfo {
  font-size: 0.95rem;
  font-weight: bold;
  color: black;
}

.input-field {
  display: grid;
  grid-template-rows: 23px auto;
  margin-top: 15px;
}

label {
  text-align: left;
  font-size: 0.95rem;
  color: var(--theme-color);
}

input {
  border: none;
  border-bottom: 1px solid var(--theme-color);
  height: 20px;
  font-size: 0.8rem;
  padding-bottom: 3px;
}

input:focus {
    outline: none;
    border-bottom: 1px solid var(--contrast-darkColor);
}

textarea {
  border: 1px solid var(--theme-color);
  height: 70px;
  font-size: 0.9rem;
  font-family: 'Arial';
  padding: 3px;
}

textarea:focus {
  outline: none;
  border: 1px solid var(--contrast-darkColor);
}

#btnSection {
  text-align: center;  
}

@media screen and (max-width: 767px) {
  #inputForm {
    margin-top: 10px;
    width: 70%;
    padding: 10px;
  }
  
  .fixed-field {
    grid-template-rows: 16px auto;
  }
  
  .input-field {
    grid-template-rows: 16px auto;
    margin-top: 10px;
  }
  
  input {
    height: 16px;
    padding-bottom: 0px;
  }
}