#inputForm {
  margin: auto;
  margin-top: 5px;
  background: white;
  width: 50%;
  padding: 20px 20px;
}

.subHeading {
  text-align: left;
  margin-bottom: 15px;
}

#apiLink {
  float: right;
  font-size: 0.55em;
  font-weight: normal;
}

.fixed-field {
  display: grid;
  grid-template-rows: 23px auto;
  margin-bottom: 3px;
}

.fixedInfo {
  font-size: 0.95em;
  font-weight: bold;
  color: black;
}

.input-field {
  display: grid;
  grid-template-rows: 23px auto;
  margin-top: 15px;
}

label {
  text-align: left;
  font-size: 0.95em;
  color: var(--theme-color);
}

input {
  border: none;
  border-bottom: 1px solid var(--theme-color);
  height: 20px;
  font-size: 0.8em;
  padding-bottom: 3px;
}

input:focus {
    outline: none;
    border-bottom: 1px solid var(--contrast-darkColor);
}

textarea {
  border: 1px solid var(--theme-color);
  height: 70px;
  font-size: 0.9em;
  font-family: 'Arial';
  padding: 3px;
}

textarea:focus {
  outline: none;
  border: 1px solid var(--contrast-darkColor);
}

#btnSection {
  text-align: center;  
}