#header {
  width: 100%;
  height: 130px;
  background-image: linear-gradient(var(--theme-color) 10%, var(--theme-vdarkColor));
  transform: skewY(-2.75deg);
  transform-origin: top left;
  overflow: hidden;  
}

.heading {
  padding-top: 65px;
  font-size: 35px;
  text-align: center;
  transform: skewY(2.75deg);
  color: white;
}

.homeLink {
  position: absolute;
  top: 90px;
  right: 50px;
  transform: skewY(2.75deg);
}

.navLink:link {
  color: white;
  font-size: 1.15em;
}

.navLink:visited {
  color: white;
}

.navLink:hover {
  color: var(--contrast-darkColor);
}

.navLink:active {
  color: black;
}