#tableWrapper {
  padding: 8px;
  margin: auto;
  width: 60%;
  background: white;
  max-height: 60vh;
  overflow-y: auto;
}

.notExists {
  color: white;
  font-size: 20px;
  margin-top: 15px;
}

.list {
  border-collapse: collapse;
  width: 100%;
}

.tableHeader {
  font-size: 20px;
  font-weight: normal;
  padding: 6px;
  background-color: gray;
  border-bottom: 3px solid var(--theme-darkColor);
  border-top: 2px solid var(--theme-darkColor);
}

.rowClick:hover {
  background-color: var(--contrast-lightColor);
}

.listCell {
  border-bottom: 1px solid var(--theme-color);
  border-top: 1px solid var(--theme-color);
  padding: 6px;
  font-size: 17px;
  text-align: left;
}

.threadHeader {
  margin: auto;
  width: 60%;
  text-align: left;
  color: var(--theme-medColor);
  font-size: 1.025em;
  border: 2px solid white;
  padding: 8px;
  margin-bottom: 15px;
}

.threadHeader p {
  padding-bottom: 8px;
}

hr {
  margin-bottom: 8px;
  border-top: 1px solid white;
}

.icon {
  color: gray;
}

.icon:hover {
    color: var(--theme-darkColor);
}

.reported {
  color: red;
}