#tableWrapper {
  padding: 8px;
  margin: auto;
  width: 60%;
  background: white;
  max-height: 60vh;
  overflow-y: auto;
}

.notExists {
  color: white;
  font-size: 1.25rem;
  margin-top: 15px;
}

.list {
  border-collapse: collapse;
  width: 100%;
}

.tableHeader {
  font-size: 1.25rem;
  font-weight: normal;
  padding: 6px;
  background-color: gray;
  border-bottom: 3px solid var(--theme-darkColor);
  border-top: 2px solid var(--theme-darkColor);
}

.rowClick:hover {
  background-color: var(--contrast-lightColor);
}

.boardName {
  width: 50%;
}

.listCell {
  border-bottom: 1px solid var(--theme-color);
  border-top: 1px solid var(--theme-color);
  padding: 6px;
  font-size: 1.0625rem;
  text-align: left;
}

.threadHeader {
  margin: auto;
  width: 60%;
  text-align: left;
  color: var(--theme-medColor);
  font-size: 1.025em;
  border: 2px solid white;
  padding: 8px;
  margin-bottom: 15px;
}

.threadHeader p {
  padding-bottom: 8px;
}

hr {
  margin-bottom: 8px;
  border-top: 1px solid white;
}

#editButton {
  text-align: right;
  padding: 5px;
}

.icon {
  color: gray;
}

.icon:hover {
    color: var(--theme-darkColor);
}

.reported {
  color: red;
}

#lastBumped {
  float: right;
}

@media screen and (max-width: 767px) {
  #tableWrapper {
    width: 80%;
    padding: 8px;
  }
  
  .tableHeader {
    padding: 3px;
    font-size: 1.05rem;
  }
  
  .threadHeader {
    width: 80%;
    margin-top: 5px;
  }

  .threadHeader p {
    padding-bottom: 3px;
  }

  hr {
    margin-bottom: 3px;
  }

  .boardName {
    width: 40%;
  }
  
  .listCell {
    padding: 3px;
    font-size: 1rem;
  }
  
  #editButton {
    padding: 3px;
  }
  
  #lastBumped {
    float: none;
    display: block;
    padding-top: 3px;
  }
}