#pagination {
  margin: auto;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.pageDiv {
  padding: 0 5px;
  margin: 0 20px;
  font-size: 1.1em;
}

#limitLabel {
  color: var(--theme-medColor);
}

#limitSelect {
  width: 50px;
  height: 20px;
  border: none;
  border-bottom: 1px solid var(--theme-color);
  background-color:  transparent;
  outline: none;
  color: white;
  font-size: 0.85em;
}

#limitSelect:focus {
  outline: none;
}

#limitSelect option {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background-color:  gray;
}

#pageNumber {
  color: var(--theme-medColor);
}

.pageButton {
  background-color: var(--contrast-color);
  border: none;
  margin: 0 5px;
  padding: 5px;
  color: white;
}